extends ../layout

block content
	.back.edit_item
		section.container
			h1.left.
				#{title}
			.right.actions_item
				a.btn-floating.btn-large.waves-effect.waves-light.red(href="/equipo/#{member._id}/edit")
					i.material-icons create
				form(action='/equipo/#{member._id}/edit',method='post',enctype='application/x-www-form-urlencoded')
					input(type='hidden',value='DELETE',name='_method')
					button.btn-floating.btn-large.waves-effect.waves-light.red(type='submit')
						i.material-icons clear
					
			article.row.team_module
				.col.s12.member
					.col.s12.member_image
						img(src="/img/equipo/#{member.picture}")
					.col.s12.image
						h5.member_name #{member.name}
						p.member_title #{member.title}
						p.member_title #{member.mail}
						p.member_title #{member.language}
						p.member_title #{member.linkedin}
						p #{member.desc}
	ul
		li
			#{member}
