case language
		when "en"
			- var lan = language
			- var copy = {"inicio": "home", "equipo": "team", "servicios": "services", "contacto": "contact", "lang": "Languages"}

		when "ca"
			- var lan = language
			- var copy = {"inicio": "ca", "equipo": "cae", "servicios": "cas", "contacto": "cac", "lang": "Idiomas ca"}

		default
			- var lan = 'es'
			- var copy = {"inicio": "inicio", "equipo": "equipo", "servicios": "servicios", "contacto": "contacto", "lang": "Idiomas"}


header
	nav.header-nav
		ul#dropdown1.dropdown-content
			li
				a(href="es") ES
			li.divider
			li
				a(href="en") EN
			li.divider
			li
				a(href="ca") CA


		.nav-wrapper
			a(class="brand-logo right center-align", href="/#{lan}")
				img(src="/img/logo_dark_3.png", class="logo")
			a(href="#", data-activates="mobile-demo", class="button-collapse")
				i.mdi-navigation-menu
			ul.hide-on-med-and-down.main-menu
				li
					a(href="/#{lan}") #{copy.inicio}
				li
					a(href="/equipo/#{lan}") #{copy.equipo}
				li
					a(href="/servicios/#{lan}") #{copy.servicios}
				li
					a(href="/contacto/#{lan}") #{copy.contacto}
			ul.right.languages-menu
				li
					a.dropdown-button(href="#!", data-activates="dropdown1") #{copy.lang}
						i.material-icons.right view_module
			ul.side-nav#mobile-demo
				li
					a(href="/#{lan}") #{copy.inicio}
				li
					a(href="/equipo/#{lan}") #{copy.equipo}
				li
					a(href="/servicios/#{lan}") #{copy.servicios}
				li
					a(href="/contacto/#{lan}") #{copy.contacto}      


