extends ../layout

block content
	case language
		when "en"
			- var desc = "We support our customers to the correct place of business in Colombia, Spain and Peru, evaluating the different alternatives offered by the regulations of each country, so that the mechanism chosen is suitable for such purpose."
			- var desc2 = "We have the knowledge and experience needed to design the right strategy for the expansion plans of companies, according to the special characteristics of the business, providing advice in the following areas of law:"
			- var desc3 = "In addition to the following areas of law, we can provide comprehensive advice to our customers through partnerships with experts offices in other areas of law and professionals in other fields."

		when "ca"
			- var desc = "Assessorem els nostres clients per al correcte establiment i desenvolupament dels seus negocis a Colòmbia, Espanya i Perú, valorant les diferents alternatives que ofereix la normativitat de cada estat, de manera que el procediment escollit sigui el més correcte per a cada objectiu."
			- var desc2 = "Comptem amb el coneixement i l’experiència necessaris per dissenyar l’estratègia més adient per als plans d’expansió de les empreses, d’acord amb les característiques especials de cada negoci, per al que estem en disposició de prestar la nostra assessoria en les següents àrees del dret:"
			- var desc3 = "Además de las siguientes áreas del derecho, podemos ofrecer una asesoría integral a nuestros clientes a través de las alianzas con despachos expertos en otras áreas del derecho y profesionales en otras materias."

		default
			- var desc = "Prestamos apoyo a nuestros clientes para el correcto establecimiento y desarrollo de sus negocios en Colombia, España y Perú, valorando las diferentes alternativas que ofrece la normatividad de cada Estado, de modo que el mecanismo escogido sea idóneo para tal objetivo. "
			- var desc2 = "Contamos con el conocimiento y la experiencia necesarias para diseñar la estrategia adecuada para los planes de expansión de las empresas, de acuerdo con las características especiales del negocio, para lo cual prestamos asesoría en las siguientes áreas del derecho:"
			- var desc3 = "Además de las siguientes áreas del derecho, podemos ofrecer una asesoría integral a nuestros clientes a través de las alianzas con despachos expertos en otras áreas del derecho y profesionales en otras materias."
	.back
		section.container
			article.row
				div.col.s12
					.desc.services_descr
						p #{desc} 
						p #{desc2} 
			- each service, i in services
				article.row.services_module
					div.col.s12
						if logueado
							a.btn-floating.btn-large.waves-effect.waves-light.red(href="/servicios/#{service._id}")
								i.material-icons create
						h2.title.bold.title_service #{service.title}
						.desc.service_desc !{service.content}
							ul.list_services 
								if service.serviceList.length > 1
									- each item, i in service.serviceList
										li
											= item
			article.row
				div.col.s12
					.desc.services_descr
						p #{desc3} 
